services:
  playwright:
    image: mcr.microsoft.com/playwright:v1.58.1-noble
    working_dir: /app
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    environment:
      - CONTAINER=true
      - NEXT_PUBLIC_E2E_TESTING=true
    network_mode: host

volumes:
  node_modules:
