services:
  postgres:
    image: postgres:16
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: payload
      POSTGRES_PASSWORD: payload
      POSTGRES_DB: payload
    volumes:
      - postgres_data:/var/lib/postgresql/data

  playwright:
    image: mcr.microsoft.com/playwright:v1.58.1-noble
    working_dir: /app
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    environment:
      - CONTAINER=true
      - NEXT_PUBLIC_E2E_TESTING=true
      - NEXT_PUBLIC_MOCK_BACKEND=true
    network_mode: host

volumes:
  node_modules:
  postgres_data:
